@page "/dashboard"
@using ignivault.Data.Models.Data
@using Syncfusion.Blazor.Notifications
@inject NavigationManager Navigation
@inject IHttpService Http
@inject IJSRuntime JS
@attribute [Authorize]

<div class="relative">
    @if (isProcessing)
    {
        <!-- Overlay spinner while processing -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-50 flex items-center justify-center z-50">
            <SfSpinner Type="SpinnerType.Material" />
        </div>
    }

    <SfDashboardLayout AllowDragging="false" AllowResizing="true" AllowFloating="true" CellSpacing="@CellSpacing" Columns="@ColumnCount">
        <DashboardLayoutPanels>
            <!-- Vault Items Panel -->
            <DashboardLayoutPanel Id="vaultPanel" SizeX="3" SizeY="1">
                <HeaderTemplate>
                    <div class="e-header-text">Storage</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <!-- Search controls -->
                    <div class="mb-4 d-flex align-items-center gap-2" style="flex-wrap: wrap;">
                        <input class="form-control" style="min-width:220px;"
                               placeholder="Search all vault items… (leave blank for wildcard)"
                               @bind="searchString"
                               @bind:event="oninput" />

                        <SfDateRangePicker TValue="DateTime?" Placeholder="Optional date range"
                                           @bind-StartDate="startDate"
                                           @bind-EndDate="endDate"
                                           ShowClearButton="true">
                        </SfDateRangePicker>

                        <SfCheckBox @bind-Checked="enableDateFilter" Label="Apply date filter" />
                        <SfButton OnClick="ClearSearch" CssClass="e-flat">Clear</SfButton>
                    </div>

                    <SfTab>
                        <TabItems>
                            <!-- Logins Tab -->
                            <TabItem Header="Logins">
                                <ContentTemplate>
                                    <SfGrid @ref="LoginDataGrid"
                                            TValue="VaultItem"
                                            DataSource="@LoginItems"
                                            AllowSelection="true"
                                            AllowPaging="true"
                                            AllowSorting="true">
                                        <GridPageSettings PageSize="8" />
                                        <GridSelectionSettings EnableSimpleMultiRowSelection="false" />
                                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog">
                                            <SfToolbar>
                                                <ToolbarItems>
                                                    <ToolbarItem OnClick="OnAddLogin" Text="Add Login" PrefixIcon="e-add" Id="AddLogin" />
                                                    <ToolbarItem OnClick="OnViewEditLogin" Text="View/Edit" PrefixIcon="e-edit" Id="ViewEditLogin" />
                                                    <ToolbarItem OnClick="OnDeleteLogin" Text="Delete" PrefixIcon="e-delete" Id="DeleteLogin" />
                                                </ToolbarItems>
                                            </SfToolbar>
                                        </GridEditSettings>
                                        <GridColumns>
                                            <GridColumn AllowEditing="false" Field="Id" HeaderText="ID" Width="80" IsPrimaryKey="true" />
                                            <GridColumn Field="Name" HeaderText="Account Name" Width="250" />
                                            <GridColumn Field="CreatedAt" HeaderText="Created" Type="ColumnType.DateTime" Format="dd/MM/yyyy hh:mm tt" Width="150" />
                                            <GridColumn Field="UpdatedAt" HeaderText="Updated" Type="ColumnType.DateTime" Format="dd/MM/yyyy hh:mm tt" Width="150" />
                                        </GridColumns>
                                    </SfGrid>
                                </ContentTemplate>
                            </TabItem>

                            <!-- Files Tab -->
                            <TabItem Header="Files">
                                <ContentTemplate>
                                    <SfGrid @ref="FileDataGrid"
                                            TValue="VaultItem"
                                            DataSource="@FileItems"
                                            AllowPaging="true"
                                            AllowSorting="true">
                                        <GridPageSettings PageSize="8" />
                                        <SfToolbar>
                                            <ToolbarItems>
                                                <ToolbarItem OnClick="OnAddFile" Text="Add File" PrefixIcon="e-add" Id="AddFile" />
                                                <ToolbarItem OnClick="OnViewDownloadFile" Text="Download" PrefixIcon="e-download" Id="DownloadFile" />
                                                <ToolbarItem OnClick="OnDeleteFile" Text="Delete" PrefixIcon="e-delete" Id="DeleteFile" />
                                                <ToolbarItem OnClick="OnDecryptFile" Text="Decrypt File" PrefixIcon="e-unlock" Id="DecryptFile" />
                                            </ToolbarItems>
                                        </SfToolbar>
                                        <GridColumns>
                                            <GridColumn AllowEditing="false" Field="Id" HeaderText="ID" Width="80" IsPrimaryKey="true" />
                                            <GridColumn Field="Name" HeaderText="File Name" Width="300" />
                                            <GridColumn Field="CreatedAt" HeaderText="Created" Type="ColumnType.DateTime" Format="dd/MM/yyyy hh:mm tt" Width="150" />
                                            <GridColumn Field="UpdatedAt" HeaderText="Updated" Type="ColumnType.DateTime" Format="dd/MM/yyyy hh:mm tt" Width="150" />
                                        </GridColumns>
                                    </SfGrid>
                                </ContentTemplate>
                            </TabItem>

                            <!-- Notes Tab -->
                            <TabItem Header="Notes">
                                <ContentTemplate>
                                    <SfGrid @ref="TextDataGrid"
                                            TValue="VaultItem"
                                            DataSource="@NoteItems"
                                            AllowPaging="true"
                                            AllowSorting="true">
                                        <GridPageSettings PageSize="8" />
                                        <SfToolbar>
                                            <ToolbarItems>
                                                <ToolbarItem OnClick="OnAddNote" Text="Add Note" PrefixIcon="e-add" Id="AddNote" />
                                                <ToolbarItem OnClick="OnViewEditNote" Text="View/Edit" PrefixIcon="e-edit" Id="ViewEditNote" />
                                                <ToolbarItem OnClick="OnDeleteNote" Text="Delete" PrefixIcon="e-delete" Id="DeleteNote" />
                                            </ToolbarItems>
                                        </SfToolbar>
                                        <GridColumns>
                                            <GridColumn AllowEditing="false" Field="Id" HeaderText="ID" Width="80" IsPrimaryKey="true" />
                                            <GridColumn Field="Name" HeaderText="Title" Width="300" />
                                            <GridColumn Field="CreatedAt" HeaderText="Created" Type="ColumnType.DateTime" Format="dd/MM/yyyy hh:mm tt" Width="150" />
                                            <GridColumn Field="UpdatedAt" HeaderText="Updated" Type="ColumnType.DateTime" Format="dd/MM/yyyy hh:mm tt" Width="150" />
                                        </GridColumns>
                                    </SfGrid>
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </ContentTemplate>
            </DashboardLayoutPanel>

            <!-- Statistics Panel -->
            <DashboardLayoutPanel Row="0" Column="0" Id="statsPanel" SizeX="1" SizeY="1">
                <HeaderTemplate><div class="e-header-text">Record Statistics</div></HeaderTemplate>
                <ContentTemplate>
                    @if (vaultItems?.Any() == true)
                    {
                        <SfAccumulationChart Height="300px">
                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries DataSource="@PieChartData"
                                                         XName="Type"
                                                         YName="Count"
                                                         Type="AccumulationType.Pie"
                                                         DataLabel="@PieChartSettings">
                                </AccumulationChartSeries>
                            </AccumulationChartSeriesCollection>
                        </SfAccumulationChart>
                    }
                    else
                    {
                        <SfSkeleton CssClass="skeletonCircleLarger"
                                    Shape="Syncfusion.Blazor.Notifications.SkeletonType.Circle">
                        </SfSkeleton>
                    }
                </ContentTemplate>
            </DashboardLayoutPanel>

            <!-- Recent Activity Panel -->
            <DashboardLayoutPanel Row="0" Column="2" Id="recentActivityPanel" SizeX="1" SizeY="1">
                <ContentTemplate>
                    <div class="h-full p-4 bg-white shadow rounded-2xl">
                        <h3 class="text-lg font-medium mb-2">Recent Activity</h3>
                        <ul class="list-disc pl-5">
                            @if (recentActivities.Any())
                            {
                                foreach (var activity in recentActivities)
                                {
                                    <li>
                                        <strong>@activity.ActivityType</strong> - @activity.ActivityTime.ToString("dd/MM/yyyy hh:mm tt")
                                        <br />
                                        <small class="text-gray-500">@activity.Details</small>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>No recent activity</li>
                            }
                        </ul>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>

            <!-- Dialog components (assume they exist elsewhere) -->
            <AddLogin ItemAdded="OnItemAdded" @ref="addLoginDialog" />
            <ViewEditLogin OnItemUpdated="OnVaultUpdated" @ref="viewEditLoginDialog" />
            <AddFile ItemAdded="OnItemAdded" @ref="addFileDialog" />
            <ViewDownloadFile OnFileDownloaded="OnFileDownloaded" @ref="viewDownloadFileDialog" />
            <FileDecrypter @ref="fileDecrypterDialog" />
            <AddNote ItemAdded="OnItemAdded" @ref="addNoteDialog" />
            <ViewEditNote OnItemUpdated="OnVaultUpdated" @ref="viewEditNoteDialog" />

            <SfToast @ref="NotificationToast"></SfToast>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

@code {
    // layout & UI
    private readonly double[] CellSpacing = { 40, 40 };
    private const int ColumnCount = 3;
    private TabHeader Logins = new TabHeader() { Text = "Logins" };
    private TabHeader Files = new TabHeader() { Text = "Files" };
    private TabHeader Notes = new TabHeader() { Text = "Notes" };


    // search/filter
    private string searchString = string.Empty;
    private bool enableDateFilter = false;
    private DateTime? startDate { get; set; }
    private DateTime? endDate { get; set; }

    // state
    private bool isProcessing = false;
    public List<VaultItem> vaultItems = new();
    public List<UserActivity> recentActivities = new();


    // dialogs / UI refs
    private SfGrid<VaultItem>? LoginDataGrid, FileDataGrid, TextDataGrid;
    private SfToast? NotificationToast;

    private AddLogin? addLoginDialog;
    private ViewEditLogin? viewEditLoginDialog;
    private AddFile? addFileDialog;
    private ViewDownloadFile? viewDownloadFileDialog;
    private FileDecrypter? fileDecrypterDialog;
    private AddNote? addNoteDialog;
    private ViewEditNote? viewEditNoteDialog;

    // chart settings
    private AccumulationDataLabelSettings PieChartSettings = new() { Visible = true };
    public List<PieChartItem> PieChartData =>
        vaultItems
            .GroupBy(x => x.Type)
            .Select(g => new PieChartItem { Type = g.Key, Count = g.Count() })
            .ToList();

    // Filtered lists displayed in the grids:
    public IEnumerable<VaultItem> LoginItems => ApplyFilter("Login");
    public IEnumerable<VaultItem> FileItems => ApplyFilter("File");
    public IEnumerable<VaultItem> NoteItems => ApplyFilter("Text");

    protected override async Task OnInitializedAsync()
    {
        await RefreshVaultItemsAsync();
        await FetchRecentActivitiesAsync();
    }

    private async Task FetchRecentActivitiesAsync()
    {
        try
        {
            recentActivities = await Http.GetUserActivitiesAsync() ?? new List<UserActivity>();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching user activities: " + ex.Message);
        }
    }

    private async Task RefreshVaultItemsAsync()
    {
        isProcessing = true;
        StateHasChanged();

        try
        {
            //Http.GetVaultItemsAsync expected to return { Success, Data }
            var response = await Http.GetVaultItemsAsync();
            if (response == null)
            {
                Console.WriteLine("GetVaultItemsAsync returned null.");
                vaultItems = new();
            }
            else if (response.Success == false)
            {
                Console.WriteLine("GetVaultItemsAsync indicated failure.");
                vaultItems = new();
            }
            else
            {
                vaultItems = response.Data ?? new();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching vault items: " + ex.Message);
            vaultItems = new();
        }

        isProcessing = false;
        StateHasChanged();
    }

    // Toolbar actions
    private async Task OnAddLogin(ClickEventArgs args) => await addLoginDialog?.ShowAsync();
    private async Task OnViewEditLogin(ClickEventArgs args)
    {
        var vaultItem = LoginDataGrid?.SelectedRecords?.FirstOrDefault();
        if (vaultItem != null)
        {
            if (viewEditLoginDialog == null) return;

            await viewEditLoginDialog.SetVaultItem(vaultItem);
            await viewEditLoginDialog.ShowAsync();
        }
    }

    private async Task OnAddFile(ClickEventArgs args) => await addFileDialog?.ShowAsync();

    private async Task OnViewDownloadFile(ClickEventArgs args)
    {
        var vaultItem = FileDataGrid?.SelectedRecords?.FirstOrDefault();
        if (vaultItem != null)
        {
            if (viewDownloadFileDialog == null) return; //these will never be null, but to keep the compiler happy

            await viewDownloadFileDialog.SetVaultItem(vaultItem);
            // show dialog - the dialog itself will trigger download and invoke callback
            await viewDownloadFileDialog.ShowAsync();
        }
    }

    private void OnDecryptFile(ClickEventArgs args) => fileDecrypterDialog?.Open(vaultItems);

    private async Task OnAddNote(ClickEventArgs args) => await addNoteDialog?.ShowAsync();
    private async Task OnViewEditNote(ClickEventArgs args)
    {
        var vaultItem = TextDataGrid?.SelectedRecords?.FirstOrDefault();
        if (vaultItem != null)
        {
            if (viewEditNoteDialog == null) return;

            await viewEditNoteDialog.SetVaultItem(vaultItem);
            await viewEditNoteDialog.ShowAsync();
        }
    }

    private async Task OnDeleteLogin(ClickEventArgs args) => await DeleteVaultItem(LoginDataGrid);
    private async Task OnDeleteFile(ClickEventArgs args) => await DeleteVaultItem(FileDataGrid);
    private async Task OnDeleteNote(ClickEventArgs args) => await DeleteVaultItem(TextDataGrid);

    private async Task DeleteVaultItem(SfGrid<VaultItem>? grid)
    {
        var vaultItem = grid?.SelectedRecords?.FirstOrDefault();
        if (vaultItem == null) return;

        bool confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to delete: {vaultItem.Name}?");
        if (confirmed)
        {
            await Http.DeleteVaultItem(vaultItem.Id);
            await RefreshVaultItemsAsync();
        }
    }

    // Called by the Add dialogs
    public async Task OnItemAdded(VaultItem item)
    {
        if (item == null) return;
        isProcessing = true;
        StateHasChanged();

        var ok = await Http.AddVaultItemAsync(item);

        isProcessing = false;
        await RefreshVaultItemsAsync();
    }

    // Handle updates from edit dialog
    public async Task OnVaultUpdated(RecordTypes.ItemUpdate update)
    {
        if (update?.Modified == true && update.VaultItem != null)
        {
            await Http.UpdateVaultItem(update.VaultItem);
            await RefreshVaultItemsAsync();
        }
    }

    // When the download dialog signals download started
    private async Task OnFileDownloaded()
    {
        if (NotificationToast == null) return;

        var toast = new ToastModel
        {
            Title = "Download",
            Content = "Your file download has started.",
            Timeout = 4000,
            CssClass = "e-toast-success"
        };

        await NotificationToast.ShowAsync(toast);
    }

    // SEARCH / FILTER
    private void ApplySearch()
    {
        StateHasChanged();
    }

    private void ClearSearch()
    {
        searchString = string.Empty;
        enableDateFilter = false;
        startDate = null;
        endDate = null;
        StateHasChanged();
    }

    /// <summary>
    /// Applies the combined filter for a given vault item type.
    /// Empty search string acts as wildcard (matches anything).
    /// If enableDateFilter is true, the date range is applied; open-ended ranges are supported.
    /// </summary>
    private IEnumerable<VaultItem> ApplyFilter(string type)
    {
        if (vaultItems == null || !vaultItems.Any())
            return Enumerable.Empty<VaultItem>();

        var q = vaultItems.Where(x => string.Equals(x.Type, type, StringComparison.OrdinalIgnoreCase));

        // Text filter: wildcard when empty
        if (!string.IsNullOrWhiteSpace(searchString))
        {
            var s = searchString.Trim();
            q = q.Where(item => item.Name?.Contains(s, StringComparison.OrdinalIgnoreCase) ?? false);
        }

        // Date filter
        if (enableDateFilter)
        {
            if (startDate.HasValue)
            {
                var sd = startDate.Value.Date;
                q = q.Where(item => item.CreatedAt >= sd);
            }

            if (endDate.HasValue)
            {
                // Include entire end day
                var ed = endDate.Value.Date;
                q = q.Where(item => item.CreatedAt <= ed);
            }
        }

        return q.ToList();
    }

    // small helper class for chart
    public class PieChartItem
    {
        public string Type { get; set; }
        public int Count { get; set; }
    }
}
