@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Collections.ObjectModel
@using ignivault.Core.Interface
@using ignivault.Data.Models.Data
@inject NavigationManager Navigation
@inject IHttpService Http
@attribute [Authorize]

<SfDashboardLayout AllowResizing="@allowResize" AllowFloating="@allowFloating" CellSpacing="@CellSpacing" Columns="@ColumnCount">
    <DashboardLayoutPanels>
        <!-- Vault Item Display -->
        <DashboardLayoutPanel Id="1" Row="0" Column="0" SizeX="3" SizeY="1">
            <HeaderTemplate><div class="e-header-text">Storage</div></HeaderTemplate>
            <ContentTemplate>
                <SfGrid ID="StorageGrid" AutoFit="true" DataSource="@vaultItems" Toolbar="@ToolBarButtons" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
                    
                    <GridPageSettings PageSize="5"></GridPageSettings>
                    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                            <GridColumns>
                                <GridColumn Field="Id" HeaderText="ID" IsPrimaryKey="true" TextAlign="TextAlign.Center" Width="100" Visible="false"></GridColumn>
                                <GridColumn Field="Name" HeaderText="Name" Width="150" TextAlign="TextAlign.Left"></GridColumn>
                                <GridColumn Field="Type" HeaderText="Type" Width="120" TextAlign="TextAlign.Left" EditType="EditType.DropDownEdit" ForeignKeyValue="TypeName" ForeignKeyField="TypeId"></GridColumn>
                                <GridColumn Field="Username" HeaderText="Username" Width="150" TextAlign="TextAlign.Left"></GridColumn>
                                <GridColumn Field="URL" HeaderText="URL" Width="200" TextAlign="TextAlign.Left"></GridColumn>
                                <GridColumn Field="Notes" HeaderText="Notes" Width="200" TextAlign="TextAlign.Left"></GridColumn>
                                <GridColumn Field="CreatedAt" HeaderText="Created At" Format="d/M/yyyy h:mm tt" Width="180" TextAlign="TextAlign.Center" Type="ColumnType.DateTime" EditType="EditType.DateTimePickerEdit"></GridColumn>
                                <GridColumn Field="UpdatedAt" HeaderText="Updated At" Format="d/M/yyyy h:mm tt" Width="180" TextAlign="TextAlign.Center" Type="ColumnType.DateTime" EditType="EditType.DateTimePickerEdit"></GridColumn>
                            </GridColumns>
                    <GridColumns>
                       
                    </GridColumns>
                </SfGrid>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!------------------------->
        <!--Record Stats Display-->
        <DashboardLayoutPanel Id="2" SizeX="1" SizeY="1" Row="3" Column="0">
            <HeaderTemplate><div class="e-header-text">Record Statistics</div></HeaderTemplate>
            <ContentTemplate>
                <SfAccumulationChart Height="300px">
                    <AccumulationChartSeriesCollection>
                        <AccumulationChartSeries  XName="Type" YName="Count" Type="AccumulationType.Pie" DataLabel="@PieChartSettings">
                        </AccumulationChartSeries>
                    </AccumulationChartSeriesCollection>
                </SfAccumulationChart>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!------------------------->
        <!-- Recent Activity -->
        <DashboardLayoutPanel Id="recentActivity" SizeX="1" SizeY="1" Row="1" Column="2">
            <ContentTemplate>
                <div class="h-full p-4 bg-white shadow rounded-2xl">
                    <h3 class="text-lg font-medium mb-2">Recent Activity</h3>
                    <ul class="list-disc pl-5">
                        @* @foreach (var log in RecentActivity)
                        {
                            <li>@log</li>
                        } *@
                    </ul>
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!--------------------->
        <!-- Data Groups -->
        <DashboardLayoutPanel Id="dataGroups" SizeX="1" SizeY="1" Row="1" Column="1">
            <ContentTemplate>
                <div class="h-full p-4 bg-white shadow rounded-2xl">
                    <h3 class="text-lg font-medium mb-2">Data Groups</h3>
                    @* <SfListView DataSource="@Groups" ShowCheckBox="false"></SfListView> *@
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!--------------------->
    </DashboardLayoutPanels>
</SfDashboardLayout>

@code {
    private double[] CellSpacing = { 10, 10 };
    private int ColumnCount = 3;
    private bool allowResize = true;
    private bool allowFloating = true;

    private List<string> ToolBarButtons = new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" };

    private AccumulationDataLabelSettings PieChartSettings = new AccumulationDataLabelSettings { Visible = true };

    public ObservableCollection<VaultItem> vaultItems = new();


    public void NotAuthorizedRedirect()
    {
        Navigation.NavigateTo("/login");
    }

    public void ActionEndHandler(ActionEventArgs<VaultItem> args)
    {

    }

    protected override async Task OnInitializedAsync()
    {
        var requestVaultItems = await Http.GetVaultItemsAsync();

        if (requestVaultItems != null && requestVaultItems.Any())
        {
            this.vaultItems = new ObservableCollection<VaultItem>(requestVaultItems);
        }
    }
}