@page "/dashboard"
@inject NavigationManager Navigation
@inject IHttpService Http
@inject IJSRuntime JS

<SfDashboardLayout AllowResizing="@allowResize" AllowFloating="@allowFloating" CellSpacing="@CellSpacing" Columns="@ColumnCount">
    <DashboardLayoutPanels>

        <!-- Vault Item Display -->
        <DashboardLayoutPanel Id="1" Row="0" Column="0" SizeX="3" SizeY="1">
            <HeaderTemplate><div class="e-header-text">Storage</div></HeaderTemplate>
            <ContentTemplate>
                <SfTab>
                    <TabItems>
                        <TabItem Header="LoginHeader">
                            <ContentTemplate>
                                <SfGrid @ref="LoginDataGrid" TValue="VaultItem" DataSource="@vaultItems.Where(x => x.Type == "Login")" AllowSelection="true" AllowPaging="true" AllowSorting="true">
                                    <GridPageSettings PageSize="5"></GridPageSettings>
                                    <GridEvents TValue="VaultItem"></GridEvents>
                                    <GridSelectionSettings EnableSimpleMultiRowSelection="false"></GridSelectionSettings>
                                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog">
                                    <SfToolbar>
                                            <ToolbarItems>
                                                <ToolbarItem OnClick="OnAddLogin" Text="Add Login Entry" PrefixIcon="e-add" Id="AddLogin"></ToolbarItem>
                                                <ToolbarItem OnClick="OnViewEditLogin" Text="View\Edit Login" PrefixIcon="e-add" Id="ViewEditLogin"></ToolbarItem>
                                                <ToolbarItem OnClick="OnDeleteLogin" Text="Delete Login" PrefixIcon="e-add" Id="DeleteLogin"></ToolbarItem>
                                            </ToolbarItems>
                                    </SfToolbar>
                                    </GridEditSettings>
                                    <GridColumns>
                                        <GridColumn AllowEditing="false" Field="Id" HeaderText="ID" Width="80" IsPrimaryKey="true"></GridColumn>
                                        <GridColumn Field="Name" HeaderText="Account Name" Width="200"></GridColumn>                                      
                                    </GridColumns>
                                    
                                </SfGrid>
                            </ContentTemplate>
                        </TabItem>

                        <TabItem Header="FileHeader">
                            <ContentTemplate>
                                <SfGrid @ref="FileDataGrid" TValue="VaultItem" DataSource="@vaultItems.Where(x => x.Type == "File")" AllowPaging="true" AllowSorting="true">
                                    <GridPageSettings PageSize="5"></GridPageSettings>
                                    <GridEvents TValue="VaultItem"></GridEvents>
                                    <SfToolbar>
                                        <ToolbarItems>
                                            <ToolbarItem OnClick="OnAddFile" Text="Add New File" PrefixIcon="e-add" Id="AddLogin"></ToolbarItem>
                                            <ToolbarItem OnClick="OnViewDownloadFile" Text="ViewDownload" PrefixIcon="e-add" Id="DownloadFile"></ToolbarItem>
                                            <ToolbarItem OnClick="OnDeleteFile" Text="Delete File" PrefixIcon="e-add" Id="DeleteFile"></ToolbarItem>
                                        </ToolbarItems>
                                    </SfToolbar>
                                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
                                    <GridColumns>
                                        <GridColumn AllowEditing="false" Field="Id" HeaderText="ID" Width="80" IsPrimaryKey="true"></GridColumn>
                                        <GridColumn Field="Name" HeaderText="File Name" Width="200"></GridColumn>
                                       
                                    </GridColumns>
                                </SfGrid>
                            </ContentTemplate>
                        </TabItem>

                        <TabItem Header="TextHeader">
                            <ContentTemplate>
                                <SfGrid @ref="TextDataGrid" TValue="VaultItem" DataSource="@vaultItems.Where(x => x.Type == "Text")" AllowPaging="true" AllowSorting="true">
                                    <GridPageSettings PageSize="5"></GridPageSettings>
                                    <GridEvents  TValue="VaultItem"></GridEvents>
                                    <SfToolbar>
                                        <ToolbarItems>
                                            <ToolbarItem OnClick="OnAddNote" Text="Add New Note" PrefixIcon="e-add" Id="AddNote"></ToolbarItem>
                                            <ToolbarItem OnClick="OnViewEditNote" Text="View\Edit Note" PrefixIcon="e-add" Id="ViewEditNote"></ToolbarItem>
                                            <ToolbarItem OnClick="OnDeleteNote" Text="Delete Note" PrefixIcon="e-add" Id="DeleteNote"></ToolbarItem>
                                        </ToolbarItems>
                                    </SfToolbar>
                                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
                                    <GridColumns>
                                        <GridColumn AllowEditing="false" Field="Id" HeaderText="ID" Width="80" IsPrimaryKey="true"></GridColumn>
                                        <GridColumn Field="Name" HeaderText="Note Title" Width="200"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>

            </ContentTemplate>
        </DashboardLayoutPanel>
        <!------------------------->
        <!--Record Stats Display-->
        <DashboardLayoutPanel Id="2" SizeX="1" SizeY="1" Row="3" Column="0">
            <HeaderTemplate><div class="e-header-text">Record Statistics</div></HeaderTemplate>
            <ContentTemplate>
                @if (vaultItems.Any())
                {
                    <SfAccumulationChart Height="300px">
                        <AccumulationChartSeriesCollection>
                            <AccumulationChartSeries DataSource="@PieChartData" XName="Type" YName="Count" Type="AccumulationType.Pie" DataLabel="@PieChartSettings">
                            </AccumulationChartSeries>
                        </AccumulationChartSeriesCollection>
                    </SfAccumulationChart>
                }
                else
                {
                    <SfSkeleton CssClass="skeletonCircleLarger" Shape="Syncfusion.Blazor.Notifications.SkeletonType.Circle" Width="80px"></SfSkeleton>
                }
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!------------------------->
        <!-- Recent Activity -->
        <DashboardLayoutPanel Id="recentActivity" SizeX="1" SizeY="1" Row="1" Column="2">
            <ContentTemplate>
                <div class="h-full p-4 bg-white shadow rounded-2xl">
                    <h3 class="text-lg font-medium mb-2">Recent Activity</h3>
                    <ul class="list-disc pl-5">
                       
                    </ul>
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!--------------------->
        <!-- General Information -->
        <DashboardLayoutPanel Id="dataGroups" SizeX="1" SizeY="1" Row="1" Column="1">
            <ContentTemplate>
                <div class="h-full p-4 bg-white shadow rounded-2xl">
                    <h3 class="text-lg font-medium mb-2">Data Groups</h3>
                    
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!--------------------->


        <AddLogin ItemAdded="OnItemAdded" @ref="addLoginDialog"></AddLogin>
        <ViewEditLogin OnItemUpdated="OnVaultUpdated" @ref="viewEditLoginDialog"></ViewEditLogin>

        <AddFile ItemAdded="OnItemAdded" @ref="addFileDialog"></AddFile>
        <ViewDownloadFile @ref="viewDownloadFileDialog"></ViewDownloadFile>

        <AddNote ItemAdded="OnItemAdded" @ref="addNoteDialog"></AddNote>
        <ViewEditNote @ref="viewEditNoteDialog" OnItemUpdated="OnVaultUpdated"></ViewEditNote>
    </DashboardLayoutPanels>
</SfDashboardLayout>
@code {
    private double[] CellSpacing = { 10, 10 };
    private int ColumnCount = 3;
    private bool allowResize = true;
    private bool allowFloating = true;

    private bool IsAdding = false;

    private List<string> ToolBarButtons = new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" };

    private AccumulationDataLabelSettings PieChartSettings = new AccumulationDataLabelSettings { Visible = true };

    public List<VaultItem> vaultItems = new();

    public List<PieChartItem> PieChartData
    {
        get
        {
            return vaultItems
                .GroupBy(x => x.Type)
                .Select(g => new PieChartItem { Type = g.Key, Count = g.Count() })
                .ToList();
        }
    }


    private SfGrid<VaultItem> LoginDataGrid, FileDataGrid, TextDataGrid;
    private AddLogin addLoginDialog;
    private ViewEditLogin viewEditLoginDialog;
    private AddFile addFileDialog;
    private AddNote addNoteDialog;
    private ViewEditNote viewEditNoteDialog;
    private ViewDownloadFile viewDownloadFileDialog;


    public void NotAuthorizedRedirect()
    {
        Navigation.NavigateTo("/login");
    }

    public async void OnAddLogin(ClickEventArgs args)
    {
        if(addLoginDialog != null)
        {
            await addLoginDialog.ShowAsync();
        }
    }

    public async void OnViewEditLogin(ClickEventArgs args)
    {
        if(LoginDataGrid != null)
        {
            var vaultItem = LoginDataGrid.SelectedRecords.FirstOrDefault();
            if(vaultItem != null)
            {
                await viewEditLoginDialog.SetVaultItem(vaultItem);
                await viewEditLoginDialog.ShowAsync();
            }
        }
    }

    public async void OnViewDownloadFile(ClickEventArgs args)
    {
        if (FileDataGrid != null)
        {
            var vaultItem = FileDataGrid.SelectedRecords.FirstOrDefault();
            if (vaultItem != null)
            {
                await viewDownloadFileDialog.SetVaultItem(vaultItem);
                await viewDownloadFileDialog.ShowAsync();
            }
        }
    }

    public async void OnViewEditNote(ClickEventArgs args)
    {
        if (TextDataGrid != null)
        {
            var vaultItem = TextDataGrid.SelectedRecords.FirstOrDefault();
            if (vaultItem != null)
            {
                await viewEditNoteDialog.SetVaultItem(vaultItem);
                await viewEditNoteDialog.ShowAsync();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {      
        await RefreshVaultItemsAsync();
    }

    public async Task RefreshVaultItemsAsync()
    {
        var requestVaultItems = await Http.GetVaultItemsAsync();
        if (requestVaultItems != null && requestVaultItems.Any())
        {
            this.vaultItems = requestVaultItems;
        }
    }

    public async Task OnDeleteLogin(ClickEventArgs args)
    {
        if (LoginDataGrid != null)
        {
            var vaultItem = LoginDataGrid.SelectedRecords.FirstOrDefault();
            if(vaultItem != null)
            {
                bool confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to delete: {vaultItem.Name}?");
                if (confirmed)
                {
                    bool status = await Http.DeleteVaultItem(vaultItem.Id);
                    if (status)
                    {
                        await RefreshVaultItemsAsync();
                        StateHasChanged();
                    }
                }
            }
        }
    }

    public async Task OnDeleteNote(ClickEventArgs args)
    {
        if (TextDataGrid != null)
        {
            var vaultItem = TextDataGrid.SelectedRecords.FirstOrDefault();
            if (vaultItem != null)
            {
                bool confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to delete: {vaultItem.Name}?");
                if (confirmed)
                {
                    bool status = await Http.DeleteVaultItem(vaultItem.Id);
                    if (status)
                    {
                        await RefreshVaultItemsAsync();
                        StateHasChanged();
                    }
                }
            }
        }
    }

    public async Task OnDeleteFile(ClickEventArgs args)
    {
        if (FileDataGrid != null)
        {
            var vaultItem = FileDataGrid.SelectedRecords.FirstOrDefault();
            if (vaultItem != null)
            {
                bool confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to delete: {vaultItem.Name}?");
                if (confirmed)
                {
                    bool status = await Http.DeleteVaultItem(vaultItem.Id);
                    if (status)
                    {
                        await RefreshVaultItemsAsync();
                        StateHasChanged();
                    }
                }
            }
        }
    }

    public async void OnItemAdded(VaultItem args)
    {
        bool status = await Http.AddVaultItemAsync(args);
        if(status)
        {
            await RefreshVaultItemsAsync();
        }
        else
        {
            Console.WriteLine("Failed to add vault item.");
        }
        StateHasChanged();
    }

    public async void OnVaultUpdated(RecordTypes.ItemUpdate update)
    {
        if(update != null && update.Modified)
        {
            bool status = await Http.UpdateVaultItem(update.VaultItem);
        }
        StateHasChanged();
    }


    public async void OnAddFile(ClickEventArgs args)
    {
        await addFileDialog.ShowAsync();
    }

    public async void OnAddNote(ClickEventArgs args)
    {
        await addNoteDialog.ShowAsync();
    }


    
    TabHeader LoginHeader = new TabHeader() { Text = "Logins" };
    TabHeader TextHeader = new TabHeader { Text = "Text" };
    TabHeader FileHeader = new TabHeader { Text = "Files" };
    public IEditorSettings DataTypeEditParams = new DropDownEditCellParams()
    {
        Params = new DropDownListModel<object, object>()
        {
                DataSource = new List<string>()
                {
                    "Text",
                    "Login",
                    "File"
                },
            PopupWidth = "100%"
        }
    };

    public class PieChartItem
    {
        public string Type { get; set; }
        public int Count { get; set; }
    }
}