@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Collections.ObjectModel
@using ignivault.Core.Interface
@using ignivault.Data.Models.Data
@using ignivault.Layout.Dialogs
@inject NavigationManager Navigation
@inject IHttpService Http
@attribute [Authorize]

<SfDashboardLayout AllowResizing="@allowResize" AllowFloating="@allowFloating" CellSpacing="@CellSpacing" Columns="@ColumnCount">
    <DashboardLayoutPanels>
        <!-- Vault Item Display -->
        <DashboardLayoutPanel Id="1" Row="0" Column="0" SizeX="3" SizeY="1">
            <HeaderTemplate><div class="e-header-text">Storage</div></HeaderTemplate>
            <ContentTemplate>
                <SfTab>
                    <TabItems>
                        <TabItem Header="LoginHeader">
                            <ContentTemplate>
                                <SfGrid @ref="LoginDataGrid" TValue="VaultItem" DataSource="@vaultItems" AllowSelection="true" AllowPaging="true" AllowSorting="true">
                                    <GridPageSettings PageSize="5"></GridPageSettings>
                                    <GridEvents TValue="VaultItem"></GridEvents>
                                    <GridSelectionSettings EnableSimpleMultiRowSelection="false"></GridSelectionSettings>
                                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog">
                                    <SfToolbar>
                                            <ToolbarItems>
                                                <ToolbarItem OnClick="OnAddLogin" Text="Add Vault Item" PrefixIcon="e-add" Id="AddLogin"></ToolbarItem>
                                                <ToolbarItem OnClick="OnViewEditLogin" Text="View\Edit Login" PrefixIcon="e-add" Id="ViewEditLogin"></ToolbarItem>
                                                <ToolbarItem OnClick="OnViewEditLogin" Text="Delete Login" PrefixIcon="e-add" Id="DeleteLogin"></ToolbarItem>
                                            </ToolbarItems>
                                    </SfToolbar>
                                    </GridEditSettings>
                                    <GridColumns>
                                        <GridColumn AllowEditing="false" Field="Id" HeaderText="ID" Width="80" IsPrimaryKey="true"></GridColumn>
                                        <GridColumn Field="Name" HeaderText="Account Name" Width="200"></GridColumn>                                      
                                    </GridColumns>
                                    
                                </SfGrid>
                            </ContentTemplate>
                        </TabItem>

                        <TabItem Header="FileHeader">
                            <ContentTemplate>
                                <SfGrid TValue="VaultItem" DataSource="@vaultItems" AllowPaging="true" AllowSorting="true">
                                    <GridPageSettings PageSize="5"></GridPageSettings>
                                    <GridEvents TValue="VaultItem"></GridEvents>
                                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
                                    <GridColumns>
                                        <GridColumn AllowEditing="false" Field="Id" HeaderText="ID" Width="80" IsPrimaryKey="true"></GridColumn>
                                        <GridColumn Field="Name" HeaderText="File Name" Width="200"></GridColumn>
                                        <GridColumn Field="EncryptedData" HeaderText="Encrypted Size (bytes)" Width="180"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </ContentTemplate>
                        </TabItem>

                        <TabItem Header="TextHeader">
                            <ContentTemplate>
                                <SfGrid TValue="VaultItem" DataSource="@vaultItems" AllowPaging="true" AllowSorting="true">
                                    <GridPageSettings PageSize="5"></GridPageSettings>
                                    <GridEvents  TValue="VaultItem"></GridEvents>
                                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
                                    <GridColumns>
                                        <GridColumn AllowEditing="false" Field="Id" HeaderText="ID" Width="80" IsPrimaryKey="true"></GridColumn>
                                        <GridColumn Field="Name" HeaderText="Note Title" Width="200"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>

            </ContentTemplate>
        </DashboardLayoutPanel>
        <!------------------------->
        <!--Record Stats Display-->
        <DashboardLayoutPanel Id="2" SizeX="1" SizeY="1" Row="3" Column="0">
            <HeaderTemplate><div class="e-header-text">Record Statistics</div></HeaderTemplate>
            <ContentTemplate>
                <SfAccumulationChart Height="300px">
                    <AccumulationChartSeriesCollection>
                        <AccumulationChartSeries  XName="Type" YName="Count" Type="AccumulationType.Pie" DataLabel="@PieChartSettings">
                        </AccumulationChartSeries>
                    </AccumulationChartSeriesCollection>
                </SfAccumulationChart>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!------------------------->
        <!-- Recent Activity -->
        <DashboardLayoutPanel Id="recentActivity" SizeX="1" SizeY="1" Row="1" Column="2">
            <ContentTemplate>
                <div class="h-full p-4 bg-white shadow rounded-2xl">
                    <h3 class="text-lg font-medium mb-2">Recent Activity</h3>
                    <ul class="list-disc pl-5">
                        @* @foreach (var log in RecentActivity)
                        {
                            <li>@log</li>
                        } *@
                    </ul>
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!--------------------->
        <!-- Data Groups -->
        <DashboardLayoutPanel Id="dataGroups" SizeX="1" SizeY="1" Row="1" Column="1">
            <ContentTemplate>
                <div class="h-full p-4 bg-white shadow rounded-2xl">
                    <h3 class="text-lg font-medium mb-2">Data Groups</h3>
                    @* <SfListView DataSource="@Groups" ShowCheckBox="false"></SfListView> *@
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>
        <!--------------------->

        <AddLogin ItemAdded="OnLoginAdded" @ref="addLoginDialog"></AddLogin>
        <ViewEditLogin @ref="viewEditLoginDialog"></ViewEditLogin>

    </DashboardLayoutPanels>
</SfDashboardLayout>
@code {
    private double[] CellSpacing = { 10, 10 };
    private int ColumnCount = 3;
    private bool allowResize = true;
    private bool allowFloating = true;

    private bool IsAdding = false;

    private List<string> ToolBarButtons = new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" };

    private AccumulationDataLabelSettings PieChartSettings = new AccumulationDataLabelSettings { Visible = true };

    public ObservableCollection<VaultItem> vaultItems = new();

    private SfGrid<VaultItem> LoginDataGrid;
    private AddLogin addLoginDialog;
    private ViewEditLogin viewEditLoginDialog;


    public void NotAuthorizedRedirect()
    {
        Navigation.NavigateTo("/login");
    }

    public async void OnAddLogin(ClickEventArgs args)
    {
        if(addLoginDialog != null)
        {
            await addLoginDialog.ShowAsync();
        }
    }

    public async void OnViewEditLogin(ClickEventArgs args)
    {
        if(LoginDataGrid != null)
        {
            var vaultItem = LoginDataGrid.SelectedRecords.FirstOrDefault();
            if(vaultItem != null)
            {
                await viewEditLoginDialog.SetVaultItem(vaultItem);
                await viewEditLoginDialog.ShowAsync();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {      
        await RefreshVaultItemsAsync();
    }


    public async Task RefreshVaultItemsAsync()
    {
        var requestVaultItems = await Http.GetVaultItemsAsync();
        if (requestVaultItems != null && requestVaultItems.Any())
        {
            this.vaultItems = new ObservableCollection<VaultItem>(requestVaultItems);
        }
    }


    public async void OnLoginAdded(VaultItem args)
    {
        bool status = await Http.AddVaultItemAsync(args);
        if(status)
        {
            await RefreshVaultItemsAsync();
            StateHasChanged();
        }
        else
        {
            Console.WriteLine("Failed to add vault item.");
        }
    }

    
    TabHeader LoginHeader = new TabHeader() { Text = "Logins" };
    TabHeader TextHeader = new TabHeader { Text = "Text" };
    TabHeader FileHeader = new TabHeader { Text = "Files" };
    public IEditorSettings DataTypeEditParams = new DropDownEditCellParams()
    {
        Params = new DropDownListModel<object, object>()
        {
            DataSource = new List<string>()
                {
                    "Text",
                    "Login",
                    "File"
                },
            PopupWidth = "100%"
        }
    };
}