@page "/login"
@using ignivault.Core.Interface
@inject HttpClient Http
@inject IJSRuntime JS
@inject VaultService VaultService
@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthService AuthService
@inject IHttpService HttpService
@inject AccountService AccountService
<head>
    <script src="js/Crypt.js"></script>
</head>
<div class="flex items-center justify-center min-h-screen bg-gradient-to-br from-blue-50 to-blue-100">
    <div class="bg-white shadow-2xl rounded-2xl p-10 w-full max-w-md">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-2">Ignivault Login</h2>
        <p class="text-center text-gray-500 mb-8">Please login to continue</p>

        <!-- Login Form -->
        <SfDataForm ID="forgot-form" Model="@login_data" OnValidSubmit="@HandleValidSubmit">
            <FormValidator>
                <DataAnnotationsValidator></DataAnnotationsValidator>
            </FormValidator>
            <FormItems>
                <FormItem Field="@nameof(LoginUserModel.Email)" LabelText="Email" EditorType="FormEditorType.TextBox"></FormItem>
                <FormItem Field="@nameof(LoginUserModel.Password)" LabelText="Password" EditorType="FormEditorType.Password"></FormItem>
            </FormItems>
            <FormButtons>
                <SfButton type="submit" CssClass="e-primary">
                    Sign In
                </SfButton>
                <SfButton type="button" CssClass="e-secondary" OnClick="@ToggleForgotPasswordDialog">
                    Reset
                </SfButton>
            </FormButtons>
        </SfDataForm>

        <!-- Sign Up -->
        <p class="text-center text-gray-600 text-sm mt-6">
            <a href="/signup">Don’t have an account?</a>
        </p>

        @if (ForgotPasswordDialogVisible)
        {
            <ForgotLoginDialog/>
        }

        @if(showSuccess)
        {
            <SfMessage Severity=MessageSeverity.Success ShowCloseIcon="true">Registration Successful! Please login.</SfMessage>
        }
        else if (loginFailed)
        {
            <SfMessage Severity=MessageSeverity.Error ShowCloseIcon="true">Login failed. Please check your credentials and try again.</SfMessage>
        }

    </div>
</div>

@code {
    private LoginUserModel login_data;
    private bool ForgotPasswordDialogVisible { get; set; } = false;
    private bool loginFailed = false;

    private void ToggleForgotPasswordDialog()
    {
        ForgotPasswordDialogVisible = !ForgotPasswordDialogVisible;
    }

    private bool showSuccess;

    protected override void OnInitialized()
    {
        login_data = new LoginUserModel();

        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        if (query["signedup"] == "true")
        {
            showSuccess = true;
        }
    }

    private async void HandleValidSubmit(EditContext context)
    {
        try
        {
            var response = await HttpService.LoginAsync(login_data.Email, login_data.Password);
            if (response.Success)
            {

                var t = response.Response;

                Console.WriteLine($"{t.Username}, {t.Id}, {t.MasterIV}");


                bool ValidMasterKey = await VaultService.DecryptMasterKey(response.Response, login_data.Password);
                await AuthService.LoginAsync(response.Response.Token);


                AccountService.SetAccount(response.Response);

                if (DataUtils.IsTokenExpired(response.Response.Token))
                {
                    Console.WriteLine("Token is expired.");
                }


                NavManager.NavigateTo("/dashboard");
            }
            else
            {
                loginFailed = true;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("SUBMIT");
        }
    }
}
